/**
 * Launch Agent Boilerplate Theme
 * http://www.launchagent.co.nz
 *
 * Copyright (c) 2015 Jon Good
 * Licensed under the GPLv2+ license.
 */
 

/*
------------------------------------------------------------
Mobile First Styles - matches Foundation default breakpoints
------------------------------------------------------------
*/

@media only screen and (max-width: 640px){
	
	footer .contact-details {
		text-align: center;	
	}
	
	.hero{
		min-height: 300px;
	}
	
	.hero h1{
		font-size: 40px;	
		line-height: 45px;
		margin-bottom: 20px;	
	}
	
	a.button.rounded{
		font-size: 20px;
		width: 100%;	
	}
	
	section{
		padding: 5em 0.5em;	
	}
	
	#sidebar{
		padding-right: 15px;	
	}
	
	#sidebar.sticky{
		top: 0 !important;	
	}
	
	header .sub-header ul li{
		line-height: 40px;
		clear: both;
		width: 100%;
	}
	
	header .sub-header ul li.page-item-20{
		display: block;	
		margin: 10px auto;	
	}
	
	header .sub-header ul{
		height: 0;
		overflow: hidden;	
		padding: 0;	
	}
	
	header .sub-header.open ul{
		height: auto;
		padding: 10px 0;
	}
	
	header .sub-header-toggle{
		display: block;	
	}
	
	header .sub-header ul ul.sub-menu{
		position: relative;
		padding: 0;	
		display: block;	
		margin: 0;	
	}
	
	header .sub-header ul ul.sub-menu li{
		width: auto;	
		display: inline-block;
		background: none !important;
		font-style: italic;
	}
	
	header .sub-header ul ul.sub-menu li a{
		background: none;
	}
	
	header .sub-header ul ul.sub-menu li:hover{
		background: none !important;
	}
	
	header .sub-header ul ul.sub-menu li:hover a{	
		color: #fff !important;	
	}
	
	.sub-header.home{
		display: none !important;	
	}
	
	.wpcf7 p.select-label{
		padding-top: 0;	
	}
	
	.section-hero img{
		width: 60px;	
	}
	
	.section-hero .row{
		display: block;	
		height: auto;	
	}
	
	.section-hero .small-12{
		width: 100%;
		display: block;
		clear: both;
		height: auto;	
		margin-left: 0 !important;	
	}
	
	section.savings .text-wrap{
		padding: 60px 1.5em 40px;	
		overflow: auto;	
		display: block;	
		width: 100%;	
	}
	
	section.savings .image{
		height: 200px;
		display: block;	
		width: 100%;	
		clear: both;	
	}
	
	.landing-page .table{
		display: block;
	}
	
	.landing-page .hero-text-wrap{
		display: block;
		width: 100%;
		clear: both;	
		position: relative;
	}
	
	.landing-page .form{
		padding: 0;	
	}
	
	.landing-page .form-wrap{
		clear: both;	
		width: 100%;	
		display: block;	
		position: relative;
		padding-top: 30px;
	}
	
	.phone-tag-wrap a{
		text-align: center;
		width: 100%;		
	}
	
	.landing-page .phone-tag-wrap .phone-tag{
		margin: 20px 0 0;
		padding-right: 20px;
	}
	
	.featured-properties-slider .image-slider{
		padding: 0 20px;	
	}
	
	.featured-properties-slider .slick-arrow{
		background: #ff931e; 
		height: 100%;
		width: 28px;
	}
	
	.agent-hero .title-wrapper .row{
		padding: 20px 20px 100px;	
	}
	
	.agent-hero{
		margin-bottom: -140px;
		padding-bottom: 200px;
		padding-top: 200px;		
		height: auto;
	}
	
	.agent-profile .basic-details{
		margin: 20px 0 0;
		padding: 20px;	
	}
	
	.agent-profile .agent-file{
		margin-top: 0;	
	}
	
	.horizontal-property-listing{
		border-bottom: 1px solid #ddd;
		overflow: auto;	
		padding-bottom: 5px;
		margin-bottom: 15px;	
	}
	
	.horizontal-property-listing .image{
		width: 100%;
		height: 0;
		padding-bottom: 25%;
		margin-bottom: 10px;	
		-webkit-background-size: cover;
		background-size: cover;
		float: left;
	}
	
	.horizontal-property-listing .info{
		width: 100%;
		padding-left: 0;		
	}
	
	.horizontal-property-listing .info .title-wrap{
		width: 100%;	
	}
	
	.horizontal-property-listing .info .feature-wrap{
		width: 100%;
		margin-bottom: 0;		
	}
	
	.horizontal-property-listing .info .feature{
		float: left;
		margin-right: 5px;
		margin-left: 0;	
	}
	
	.content-wrap .content{
		padding: 30px 20px;	
	}
	
	.footer-wrap{
		padding: 15px;
	}
	
	.footer-logo-wrap{
		text-align: center;	
	}

}

@media only screen and (max-width: 980px){
	
	.header-nav{
		width: 100%;	
	}
	
	.header-nav .desktop-header-nav-wrap{
		display: none;	
	}
	
	.responsive-menu-button{
		display: block;	
	}
	
	header .header-wrap{
		background: #fff;	
		z-index: 99;
		position: relative;	
	}
	
	.header-nav{
		padding: 0;	
	}
	
	.section-hero h2{
		font-size: 35px;
		line-height: 40px;	
		padding: 0;		
	}
	
	.header-nav ul li:hover:after,
	.header-nav ul li.hover:after{
		width: 100%;
		height: 100%;	
		display: block;
		left: 0;		
	}
	
	table.commission-table{
		display: block;
	}
	
	table.commission-table tbody{
		display: block;
		width: 100%;
	}
	
	table.commission-table tr{
		display: block;
		width: 100%;
		overflow: auto;
		clear: both;
	}
	
	table.commission-table tr th{
		font-size: 12px;
	}
	
	table.commission-table tr td, table.commission-table tr th{
		display: block;
		float: left;
		padding: 4px;
		width: 27%;
	}
	
	table.commission-table tr td:first-child, table.commission-table tr th:first-child{
		width: 28%;
	}
	
	table.commission-table tr td:last-child, table.commission-table tr th:last-child{
		width: 18%;
	}
	
	table.commission-table tr td{
		font-size: 13px;
	}

	
}

/*
--------------------------------------------------
Custom
--------------------------------------------------
*/
@media only screen and (max-width: 1060px) {

	.slick-slide {
		width: 350px;
	}
}


/*
--------------------------------------------------
Medium Specific Styles
--------------------------------------------------
*/
@media only screen and (min-width: 40.0625em) {

}

/*
--------------------------------------------------
Large Specific Styles
--------------------------------------------------
*/
@media only screen and (min-width: 64.0625em) {
	
	
	.latest-posts.archive .articles h3{
		margin-top: 15px;	
	}
}

/*
--------------------------------------------------
X-Large Specific Styles
--------------------------------------------------
*/
@media only screen and (min-width: 90.0625em) {

	
}	
 