/*
--------------------------------------------------
Global and Mobile First Styles
--------------------------------------------------
*/

/*
--------------------------------------------------
Wordpress Styles
--------------------------------------------------
*/

body {
	font-family: 'sofia-pro', sans-serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
	color: #6d6d6d;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;	
	height: 100%;
}

.entry-content img {
	margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}

.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}

.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}

.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}

.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}

blockquote {
	border: none;
	text-align: left;
}

citation {
	text-align: left;
}

blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}

blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}

h1, h2, h3, h4, h5{
	font-family: 'sofia-pro', sans-serif;
	text-rendering: auto;
	color: #6d6d6d;
}

h2 {
	font-weight: 100;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 3px;
    color: #6d6d6d;	
    font-family: 'turnpikeregular', sans-serif;
}

h4{
	font-size: 20px;
}

p {
	font-size: 	14px;
	font-weight: 200;
	line-height: 28px;
	font-family: 'Open Sans', Sans-Serif;
	margin-bottom: 30px;
	-webkit-font-smoothing: subpixel-antialiased;
}

a{
	font-family: 'Open Sans', Sans-Serif;
	color: #0072ff;	
}

section {
	padding: 7em 2em;
	min-height: 9em;
	width: 100%;
}

ul {
	list-style: none;
	list-style-type: none;
}

input {
	height: auto !important;
}

/* Firefox Select override */
select {
    -moz-appearance: none !important;
    text-indent: 0.01px;
    text-overflow: '';
}

/* Adjust placeholder text color */
input::-webkit-input-placeholder {
   color: black;
}

input:-moz-placeholder { /* Firefox 18- */
   color: black; 
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

input:-ms-input-placeholder {  
   color: black; 
}

/*
--------------------------------------------------
Utility classes
--------------------------------------------------
*/

.clear {
	clear: both;
}

.no-scroll {
	overflow: hidden;
}

.open {
	display: block !important;	
	overflow-y: scroll;
}

.v-centered-wrap {
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v-centered {
	display: block;	
}

.hidden {
	display: none !important;	
}

/*
--------------------------------------------------
Buttons and links
--------------------------------------------------
*/

a {
  outline: none;
}

a:focus {
  outline: none;
}

.button, a.button {
	font-family: "sofia-pro", sans-serif;
	color: #fff;
	border-radius: 200px;
	background: #6CC235;
	font-size: 	18px;
	font-weight: 500;
	padding: 0.7rem 2.1rem 0.66rem 2.1rem;
	text-decoration: none;	
}

.button:hover {
	background: #4ba2f9;
}

/*
--------------------------------------------------
Header
--------------------------------------------------
*/

header {
	background: none;
	position: relative;
	width: 100%;	
	z-index: 400;
	overflow: visible;
}

.header-nav {	
	background: none;
	float: right;
	position: relative;
	padding-right: 10px;
	z-index: 10;
	height: 0;	
}

.header-nav .desktop-header-nav-wrap{
	display: inline-block;
}

.header-nav .desktop-header-nav-wrap ul{
	margin: 0;
	padding: 0;	
	position: relative;	
	overflow: auto;	
}

.header-nav .desktop-header-nav-wrap ul li{
	display: block;
	float: left;
	line-height: 72px;
	padding: 0 8px;
	margin: 0;
	background: #fff;
	position: relative;	
}

.header-nav ul li a{
	font-family: 'sofia-pro', sans-serif;
	color: #6d6d6d;	
	z-index: 1;
	position: relative;
	font-weight: 500;
	padding: 20px 0;	
	font-size: 14px;	
	text-decoration: none;	
}

.header-nav .header-nav-wrap{
	display: none;	
	float: none;
	width: 100%;
	background: #f5f5f5;		
}

.header-nav-wrap ul{
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 9999;
	position: relative;
	width: 100%;	
}

.header-nav-wrap ul li{
	float: none;
}

.header-nav-wrap .open ul li{
	width: 100%;	
}	

.header-nav-wrap ul li a{
	font-size: 18px;
	line-height: 70px;
	padding: 0 20px;
	display: inline-block;
	background: none;
	color: #000000;
	width: 100%;
	font-weight: 300;
}

.header-nav-wrap ul li.current_page_item a{
	color: #4ba2f9;
}

.header-nav-wrap ul li a:hover{
	text-decoration: none;
}

.header-nav-wrap ul li:hover ul{
	display: block;
}

.header-nav-wrap ul ul{
	position: absolute;
	z-index: 99;
	display: none;
}

.header-nav-wrap ul ul li a{
	float: left;
	border-top: 1px solid #eee;
	line-height: 36px;
	width: 180px;
}

.content-wrap{
	margin-bottom: 20px;	
}

.logo-wrap {
	background: none;
	float: left;
	padding: 16px;
	max-width: 300px;
	z-index: 11;
	position: relative;	
}

.logo {
    height: auto;
    width: 100%;
	max-width: 177px;
}


.responsive-menu-button{
	position: absolute;
	top: 21px;
	right: 30px;
	float: right;
	cursor: pointer;
	color: #fff;
	display: none;
}

.sub-header-toggle{
	padding: 5px 0 20px;
	width: 100%;	
	cursor: pointer;
	display: none;	
}

.sub-header-toggle p{
	font-family: 'sofia-pro', sans-serif;
	margin: 0;
}

.sub-header-toggle:after{
	content: '';
	width: 10px;	
	height: 10px;	
	position: absolute;
	left: 50%;
	margin-left: -5px;	
	bottom: 12px;	
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.open .sub-header-toggle p{
	display: none;	
}

.open .sub-header-toggle{
	padding: 7px 0 20px;	
}

.open .sub-header-toggle:after{
    -webkit-transform: 	rotate(225deg);
    -moz-transform: 	rotate(225deg);
    -o-transform: 		rotate(225deg);
    -ms-transform: 		rotate(225deg);
    transform: 			rotate(225deg);
}

/*
--------------------------------------------------
 Header Custom Colour Stuff
--------------------------------------------------
*/

.header-nav .desktop-header-nav-wrap .menu-main-nav-container{
	position: relative;	
}

.header-nav .desktop-header-nav-wrap .menu-main-nav-container:before{
	content: '';
	background: #ffffff;
	height: 100%;
	top: 0;	
	width: 9999px;
	position: absolute;
	left: -9999px;
	z-index: 0;	
}

.header-nav .desktop-header-nav-wrap .menu-main-nav-container:after{
	content: '';
	background: #ffffff;
	height: 100%;
	top: 0;	
	width: 9999px;
	position: absolute;
	right: -9999px;
	z-index: 0;	
}

.header-nav ul li{
	position: relative;	
}

.header-nav ul li:after{
	content: '';
	height: 2px;
	width: 94%;
	position: absolute;
	bottom: 10px;	
	left: 3%;	
}

.header-nav ul li.real-estate:after{
	background: #e56122;
	background: -moz-linear-gradient(left,  #e56122 0%, #f19c32 100%);
	background: -webkit-linear-gradient(left,  #e56122 0%,#f19c32 100%);
	background: linear-gradient(to right,  #e56122 0%,#f19c32 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e56122', endColorstr='#f19c32',GradientType=1 );
}

.header-nav ul li.property-management:after{
	background: #054b07;
	background: -moz-linear-gradient(left,  #054b07 0%, #139216 100%);
	background: -webkit-linear-gradient(left,  #054b07 0%,#139216 100%);
	background: linear-gradient(to right,  #054b07 0%,#139216 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054b07', endColorstr='#139216',GradientType=1 );
}

.header-nav ul li.mortgage:after{
	background: #053a6b;
	background: -moz-linear-gradient(left,  #053a6b 0%, #0f70ad 100%);
	background: -webkit-linear-gradient(left,  #053a6b 0%,#0f70ad 100%);
	background: linear-gradient(to right,  #053a6b 0%,#0f70ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053a6b', endColorstr='#0f70ad',GradientType=1 );
}

.header-nav ul li.insurance:after{
	background: #4f0d7d;
	background: -moz-linear-gradient(left,  #4f0d7d 0%, #8718b5 100%);
	background: -webkit-linear-gradient(left,  #4f0d7d 0%,#8718b5 100%);
	background: linear-gradient(to right,  #4f0d7d 0%,#8718b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f0d7d', endColorstr='#8718b5',GradientType=1 );
}

.header-nav ul li.wider-network:after{
	background: #3b3b3b;
	height: 0;	
}

.header-nav ul li.real-estate a{
	color: #f69d00;	
}

.header-nav ul li.property-management a{
	color: #139646;	
}

.header-nav ul li.mortgage a{
	color: #137abc;	
}

.header-nav ul li.insurance a{
	color: #9455a3;	
}

.header-nav ul li.wider-network a{
	color: #3b3b3b;	
}

.header-nav ul li:hover:after,
.header-nav ul li.hover:after{
	width: 100%;	
	height: 100%;
	top: 0;	
	left: 0;		
}

.header-nav ul li:hover a,
.header-nav ul li.hover a{
	color: #fff;	
}

.header-nav ul li.latest:hover,
.header-nav ul li.about:hover,
.header-nav ul li.contact:hover{
	background: #dfdfdf;	
}

.header-nav ul li.latest:hover a,
.header-nav ul li.about:hover a,
.header-nav ul li.contact:hover a{
	color: #444;	
}

.header-nav .desktop-header-nav-wrap.current-hover .current-menu-item,
.header-nav .desktop-header-nav-wrap.current-hover .current-page-ancestor{
	background: none;	
}

.header-nav .desktop-header-nav-wrap.current-hover .current-menu-item a,
.header-nav .desktop-header-nav-wrap.current-hover .current-page-ancestor a{
	color: #fff;	
}

.header-nav .desktop-header-nav-wrap.current-hover .current-menu-item.latest a,
.header-nav .desktop-header-nav-wrap.current-hover .current-menu-item.about a,
.header-nav .desktop-header-nav-wrap.current-hover .current-menu-item.contact a{
	color: #999;	
}

.header-nav .desktop-header-nav-wrap.current-hover .current-menu-item:after,
.header-nav .desktop-header-nav-wrap.current-hover .current-page-ancestor:after{
	background: none;	
}

header .sub-header{
	width: 100%;
	margin-top: -86px;	
	color: #fff;	
	text-align: center;
	position: relative;
	z-index: 3;	
}

header .sub-header.home{
	position: relative;	
	z-index: 4;
	margin-bottom: -40px;	
}

header .sub-header.home.hide{
	display: none;	
}

header .sub-header.parent-page-real-estate{
	background: #e56122;
	background: -moz-linear-gradient(left,  #e56122 0%, #f19c32 100%);
	background: -webkit-linear-gradient(left,  #e56122 0%,#f19c32 100%);
	background: linear-gradient(to right,  #e56122 0%,#f19c32 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e56122', endColorstr='#f19c32',GradientType=1 );
}

header .sub-header.parent-page-property-management{
	background: #054b07;
	background: -moz-linear-gradient(left,  #054b07 0%, #139216 100%);
	background: -webkit-linear-gradient(left,  #054b07 0%,#139216 100%);
	background: linear-gradient(to right,  #054b07 0%,#139216 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054b07', endColorstr='#139216',GradientType=1 );
}

header .sub-header.parent-page-mortgages{
	background: #053a6b;
	background: -moz-linear-gradient(left,  #053a6b 0%, #0f70ad 100%);
	background: -webkit-linear-gradient(left,  #053a6b 0%,#0f70ad 100%);
	background: linear-gradient(to right,  #053a6b 0%,#0f70ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053a6b', endColorstr='#0f70ad',GradientType=1 );
}

header .sub-header.parent-page-insurance{
	background: #4f0d7d;
	background: -moz-linear-gradient(left,  #4f0d7d 0%, #8718b5 100%);
	background: -webkit-linear-gradient(left,  #4f0d7d 0%,#8718b5 100%);
	background: linear-gradient(to right,  #4f0d7d 0%,#8718b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f0d7d', endColorstr='#8718b5',GradientType=1 );
}

header .sub-header.parent-page-wider-network{
	background: #3b3b3b;
}
header .sub-header.parent-page-about{
	background: #DFDFDF;
}

header .sub-header.parent-page- #submenu{
	display: none;
}

header .sub-header ul{
	margin: 1px 0 0;
	clear: both;
	padding-bottom: 0;
	z-index: 5;
}

header .sub-header ul li{
	display: inline-block;	
	padding: 0 14px;
	line-height: 40px;
	position: relative;		
}

header .sub-header ul li.current_page_item{
	font-weight: 700;	
}

header .sub-header ul li a{
	color: #fff;
	font-family: 'sofia-pro', sans-serif;
	font-size: 15px;	
	text-decoration: none;	
}

header .sub-header.parent-page-about ul li a{
	color: #6d6d6d;	
}

header .sub-header ul li:hover a{
	opacity: 0.95;	
}

header .sub-header ul li.page-item-20 a,
header .sub-header ul li.menu-item-94 a{
	background: #fff;
	padding: 6px 13px;
	color: #ED943D;
	text-transform: uppercase;	
	font-size: 13px;	
	font-weight: 500;
	letter-spacing: 0.05em;
}

header .sub-header ul li.menu-item-has-children:hover > ul.sub-menu,
header .sub-header ul li.page_item_has_children:hover > ul.children{
	display: block;	
}

header .sub-header ul.sub-menu,
header .sub-header ul.children{
	position: absolute;	
	top: 100%;	
	left: 0;
	padding-bottom: 0;
	padding-top: 0;	
	display: none;	
}

header .sub-header ul.sub-menu li,
header .sub-header ul.children li{
	width: 100%;	
}

header .sub-header ul.sub-menu li:hover,
header .sub-header ul.children li:hover{
	background: #fff !important;		
}

header .sub-header.parent-page-real-estate ul.sub-menu li,
header .sub-header.parent-page-real-estate ul.children li{
	background: #f69d00;		
}
	
header .sub-header.parent-page-property-management ul ul.sub-menu li,
header .sub-header.parent-page-property-management ul ul.children li{
	background: #139646;		
}
	
header .sub-header.parent-page-mortgages ul.sub-menu li,
header .sub-header.parent-page-mortgages ul.children li{
	background: #137abc;		
}
	
header .sub-header.parent-page-insurance ul.sub-menu li,
header .sub-header.parent-page-insurance ul.children li{
	background: #9455a3;		
}

header .sub-header.parent-page-wider-network ul.sub-menu li,
header .sub-header.parent-page-wider-network ul.children li{
	background: #3b3b3b;	
}

header .sub-header.parent-page-real-estate ul.sub-menu li:hover a,
header .sub-header.parent-page-real-estate ul.children li:hover a{
	color: #f69d00;		
}
	
header .sub-header.parent-page-property-management ul.sub-menu li:hover a,
header .sub-header.parent-page-property-management ul.children li:hover a{
	color: #139646;		
}
	
header .sub-header.parent-page-mortgages ul.sub-menu li:hover a,
header .sub-header.parent-page-mortgages ul.children li:hover a{
	color: #137abc;		
}
	
header .sub-header.parent-page-insurance ul.sub-menu li:hover a,
header .sub-header.parent-page-insurance ul.children li:hover a{
	color: #9455a3;		
}

header .sub-header.parent-page-wider-network ul.sub-menu li:hover a,
header .sub-header.parent-page-wider-network ul.children li:hover a{
	color: #3b3b3b;	
}


/*
--------------------------------------------------
 Footer
--------------------------------------------------
*/

footer{
	background-color: #6d6d6d;
	color: white;
	padding: 0;
	width: 100%;
	overflow: hidden;		
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
	text-decoration: underline;
}

.footer-logo {
    height: auto;
    max-width: 100%;
    padding-left: 10px;
}

footer.fixed{
	bottom: 0;
	top: auto;
}

.footer-wrap{
	padding: 20px 0;
}

footer .contact-details {
	color: #ffffff;
	line-height: 40px;
	font-family: 'Open Sans', Sans-serif;
	font-size: 13px;
	line-height: 18px;	
	text-align: right;	
	padding-top: 10px;	
	padding-right: 10px;
}

.real-estate-gradient{
	background: #e56122;
	background: -moz-linear-gradient(left,  #e56122 0%, #f19c32 100%);
	background: -webkit-linear-gradient(left,  #e56122 0%,#f19c32 100%);
	background: linear-gradient(to right,  #e56122 0%,#f19c32 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e56122', endColorstr='#f19c32',GradientType=1 );
}

.property-management-gradient{
	background: #054b07;
	background: -moz-linear-gradient(left,  #054b07 0%, #139216 100%);
	background: -webkit-linear-gradient(left,  #054b07 0%,#139216 100%);
	background: linear-gradient(to right,  #054b07 0%,#139216 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054b07', endColorstr='#139216',GradientType=1 );
}

.mortgage-gradient,
mortgages-gradient{
	background: #053a6b;
	background: -moz-linear-gradient(left,  #053a6b 0%, #0f70ad 100%);
	background: -webkit-linear-gradient(left,  #053a6b 0%,#0f70ad 100%);
	background: linear-gradient(to right,  #053a6b 0%,#0f70ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053a6b', endColorstr='#0f70ad',GradientType=1 );
}

.insurance-gradient{
	background: #4f0d7d;
	background: -moz-linear-gradient(left,  #4f0d7d 0%, #8718b5 100%);
	background: -webkit-linear-gradient(left,  #4f0d7d 0%,#8718b5 100%);
	background: linear-gradient(to right,  #4f0d7d 0%,#8718b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f0d7d', endColorstr='#8718b5',GradientType=1 );
}

/*
--------------------------------------------------
Home Page 
--------------------------------------------------
*/

.hero {
	background-size: cover;
	background-position: center;
	color: white;
	display: table;
}

.hero-wrap {
	display: table-cell;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

.hero-wrap-inner {
	margin: 0 auto;
	max-width: 850px;
	width: 100%;
	font-size: 20px;
	text-align: left;
}

.hero h1 {
	color: white;
	font-size: 	60px;
	font-weight: 500;
	-webkit-font-smoothing: subpixel-antialiased;
	line-height: 70px;
}

.hero h3 {
	color: #fff;	
}

.hero .button{
	font-family: 'sofia-pro', sans-serif;
	font-size: 23px;
	margin-top: 30px;	
	padding: 8px 28px 8px 10px;
	line-height: 42px;	
}

.button.green.large{
	font-size: 24px;	
}

.button.green:hover{
	background: #67d01c;
}

.hero .button img{	
	float: left;
	margin-right: 20px;	
}

.button.rounded{
	border-radius: 100px;
	font-family: 'sofia-pro', sans-serif;
}

.button.green{
	background: #69c426;	
	text-decoration: none;	
}

.phone-header-wrap{
	position: relative;
	padding: 0;
}

.phone-number{
	position: absolute;	
	top: 0px;
	right: 40px;
	background: #333;
	border-radius: 0 0 5px 5px;
	overflow: auto;	
	font-weight: 700;
	font-size: 23px;
	letter-spacing: 0.05em;
	padding: 5px 15px 9px;	
}

.home section{
	overflow: auto;	
}

.home section.home-image-section{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.home section.home-image-section.white-text{
	background-color: #6d6d6d;	
}

.home section.home-image-section h3{
	color: #333;	
}

.home section.home-image-section p{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 16px;	
}



.featured-properties-slider .image-slider{
	padding: 0 40px;	
}

.featured-properties-slider .slick-slider{
	max-height: none;
	margin-bottom: 0;	
}

.featured-properties-slider .slick-arrow{
	background: #ff931e !important;	
	height: 100%;
	width: 35px;	
}

.featured-properties-slider .slick-arrow:hover{
	background: #ff9f37;
}

.featured-properties-slider .image-slider .slick-prev{
	left: 0;	
}

.featured-properties-slider .image-slider .slick-next{
	right: 0;
}

.featured-properties-slider .slick-slider .listing{
	margin-bottom: 0;	
}

.featured-properties-slider .slick-slider .listing a{
	text-decoration: none;	
}

.featured-properties-slider{
	padding-top: 70px;	
}

.featured-properties-slider h3{
	margin-bottom: 40px;	
}

.feat-property-view-wrap{
	text-align: center;
	margin-top: 40px;
	margin-bottom: -80px;
}

.feat-property-view-wrap .button.rounded{
	font-size: 20px;
	line-height: 30px;
	padding: 10px 40px 13px;
}

.home section.intro{
	padding-bottom: 50px;
	padding-top: 70px;			
	background: #fafafa;
}

.home section.intro img{
	margin-bottom: 30px;
	margin-top: 50px;		
}

.home section.intro img.network{
	display: inline-block;
	float: none;
	margin-bottom: 0;	
	margin-top: -7px;
}

.home section.intro h3{
	display: inline-block;	
}

.home section.intro h2{
	height: 35px;
}

img.home-icon{
	float: left;
	margin-right: 20px;	
}

img.home-icon.savings{
	margin-top: 3px;	
}
.home
img.home-icon.services{
	display: inline-block;	
	float: none;
	margin-top: -10px;	
}

section.services h3{
	display: inline-block;	
}

.home section a.button{
	font-family: 'sofia-pro', sans-serif;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	display: inline-block;	
	margin-bottom: 50px;
	color: #fff;	
	padding: 10px 15px;
}

.home section a:hover{
	opacity: 0.95;	
}

.home section.hero a.button{
	line-height: 50px;
    padding: 10px 35px 10px 15px;
}

.home section a{
	text-decoration: underline;	
}

section.white-text p,
section .white-text h2{
	color: #fff;
}

section.savings{
	padding: 0;	
	display: table;	
	height: auto;
}

section.technology{
	padding-bottom: 60px;	
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

section.savings .text-wrap{
	padding: 80px 70px 50px;
	box-sizing: border-box;
	margin-right: 40px;	
	display: table-cell;	
	float: none !important;
	text-align: right;	
}

section.savings .text{
	text-align: left;
	display: inline-block;
	max-width: 550px;	
}

section.savings .image{
	display: table-cell;
	float: none !important;	
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;	
	background-position: center;
}

.gradient-divider{
	margin: 100px 0;	
}

section.tech{
	padding-bottom: 60px;	
}

section.tech h4{
	margin: 40px 0;	
}

.home-button{
	padding: 0 20px;	
	height: 80px;
	margin-bottom: 30px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;	
}

.home-button h2{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

section.latest{
	background: #f2f2f2;
	padding: 60px;
}

section.latest .link{
	text-decoration: underline;
	color: #6d6d6d;	
	font-size: 14px;	
}

section.latest .home-latest-posts{
	margin-top: 110px;	
}

section.latest .home-latest-single .image-wrapper{
	-webkit-background-size: cover;
	background-size: cover;	
	height: 160px;
	position: relative;	
}

section.latest .home-latest-single .image-wrapper .meta{
	background-image: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	position: absolute;	
	width: 100%;	
	bottom: 0;	
	padding: 5px 16px;	
	height: 37px;
}

section.latest .home-latest-single .image-wrapper .meta p{
	color: #fafafa;
	font-size: 12px;
	font-weight: normal;
}

section.latest .home-latest-single .text-wrapper{
	background: #fff;	
	padding: 12px 20px 30px;
}

section.latest .home-latest-single .text-wrapper h4{
	font-size: 18px;
}

section.about{
	padding-bottom: 50px;	
}

section.about .links h3{
	margin-bottom: 50px;	
}

section.about .links a{
	width: 100%;	
}

/*
--------------------------------------------------
Section Landing
--------------------------------------------------
*/

.section-hero{
	-webkit-background-size: cover;
	background-size: cover;
	padding: 50px 0;
}

.section-hero .row{
	display: table;
	width: 100%;
	height: 100px;	
}

.section-hero .medium-2{
	display: table-cell;	
	vertical-align: middle;
	height: 100%;	
	position: relative;	
	float: none !important;
	margin-left: 16.66667% !important;	width: 16.66667%;
}

.section-hero .medium-7{
	display: table-cell;	
	vertical-align: middle;
	height: 100%;	
	position: relative;	
	float: none !important;
	width: 58.33333%;		
}

.section-hero img{
	margin-bottom: 10px;	
}

.section-hero h2{
	font-family: 'sofia-pro', sans-serif;
	letter-spacing: normal;
	font-size: 45px;
	font-weight: 500;
	line-height: 50px;
	padding-right: 60px;	
}

.section-hero .empty-hero{
	height: 180px;	
}

.section-landing section#intro{
	padding: 100px 0;	
}

.section-landing section#intro a{
	font-weight: 500;	
}

.section-landing a,
.page a{
	text-decoration: underline;
	font-family: 'sofia-pro', sans-serif;
	font-size: 18px;
}

.section-landing h1,
.page-wrapper h1{
	font-family: 'sofia-pro', sans-serif;
	font-size: 32px;	
}

.underline{
	width: 100px;
	height: 2px;
	margin: 30px auto;
}

.section-landing section#intro .key-point{
	margin-bottom: 50px;	
}

.slide-image-wrapper{
	height: 300px !important;
	vertical-align: middle;
}

.slide-image-wrapper .slide-inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-height: 320px;	
	position: relative;		
}

.slide-image-wrapper .slide-inner .info{
	padding: 15px 12px;	
}	

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	-webkit-background-size: cover;
	background-size: cover;	
	background-position: center;
	text-align: center;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.videoWrapper .video-play{
	width: 15%;
	position: relative;
	z-index: 5;
	display: inline-block;	
	max-width: 80px;
}

.videoWrapper .video-overlay{
	width: 100%;
	height: 100%;
	position: absolute;	
	top: 0;	
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.videoWrapper a{
	width: 100%;
	height: 100%;
	position: absolute;	
	top: 0;	
	left: 0;
	z-index: 7;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section-landing h3,
.page h3{
	font-size: 25px;	
}

.section-landing .comparison{
	margin-top: 80px;
}

section#featured-properties{
	background: #fbfbfb;
	padding: 60px 0;	
}

section#featured-properties .title{
	margin-bottom: 40px;	
}

/*
--------------------------------------------------
Section Landing - Real Estate
--------------------------------------------------
*/

.real-estate-articles .image-wrap{
	height: 160px;	
	-webkit-background-size: cover;
	background-size: cover;	
	background-position: center;
}

.real-estate-articles .text-wrap{
	padding: 20px 30px;	
	background: #f2f2f2;	
}

.real-estate-articles .text-wrap h3{
	color: #ff931e;	
	font-size: 22px;	
	margin-bottom: 15px;	
}

.real-estate-articles .text-wrap p{
	margin-bottom: 0;	
}

.real-estate-articles .link-button{
	border-radius: 0;
	width: 100%;
	display: block;	
	text-align: center;	
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;	
	text-decoration: none;	
	padding: 15px 0;	
}

.home-image-section.real-estate-properties{
	padding: 0;	
	-webkit-background-size: cover;
	background-size: cover;	
	background-position: center;
	padding: 40px 0;	
	position: relative;	
}

.home-image-section.real-estate-properties .dark-overlay{
	position: absolute;
	top: 0;	
	left: 0;	
	width: 100%;	
	height: 100%;	
	background: rgba(0, 0, 0, 0.50);
	z-index: 1;	
}

.home-image-section.real-estate-properties .featured-properties-slider{
	padding-top: 0;	
	z-index: 2;	
	position: relative;	
	text-align: center;
	max-width: 1030px	
}

.home-image-section.real-estate-properties .featured-properties-slider .image-slider{
	text-align: left;
}

.home-image-section.real-estate-properties .agents .listing .info .title-wrap{
	height: 80px;	
}

.home-image-section.real-estate-properties .slide-image-wrapper{
	height: auto !important;	
}

.home-image-section.real-estate-properties a.button{
	margin: 20px auto 0;
	text-decoration: none;		
}

.home-image-section.real-estate-properties .agents{
	margin-top: 40px;	
}

.home-image-section.real-estate-properties .agents .listing .image{
	-webkit-background-size: auto 120%;
	background-size: auto 100%;
	background-repeat: no-repeat;	
	background-color: #ffffff;
}


/*
--------------------------------------------------
Property Listing
--------------------------------------------------
*/

.listing{
	margin-bottom: 30px;
}

.listing .image{
	position: relative;	
	height: 0;
	padding-bottom: 60%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.listing.agent .image{
	height: auto;
	padding-bottom: 0;	
}

.listing .image img{
	margin: 0;	
}

.listing a{
	text-decoration: none;	
}

.listing .info{
	background: #f2f2f2;
	padding: 15px 20px;
}

.listing .info a{
	font-size: 22px;	
	font-family: 'sofia-pro', sans-serif;
}

.price-overlay{
	color: #fff;
	float: right;
	padding: 3px 15px;	
	font-size: 16px;
	font-weight: 500;
	font-family: 'sofia-pro', sans-serif;
}

.listing .info .title-wrap{
	height: 110px;	
}

.listing.agent .info a.location{
	font-size: 14px;	
	margin-bottom: 15px;	
	display: block;	
}

.listing.agent .info p{
	margin-bottom: 0;	
}

.listing .info p{
	margin-bottom: 15px;
	line-height: 20px;	
}

.listing .feature-wrap{
	overflow: auto;	
	padding-top: 4px;	
}



.feature-wrap .feature{
	float: left;
	margin-right: 6px;	
	margin-bottom: 10px;	
}

.feature-wrap .feature img{
	margin-top: -4px;
	z-index: 2;
	position: relative;	
}

.feature-wrap .feature .number{
	display: inline-block;
	padding:3px 7px 3px 12px;	
	line-height: 18px;	
	color: #fff;
	font-size: 15px;	
	font-weight: 500;	
	font-family: 'Open Sans', sans-serif;
	margin-left: -10px;	
}

#sidebar{
	padding-top: 30px;
	padding-right: 0;		
}

.sticky {
	position: relative;
	top: 0; 
}


/*
--------------------------------------------------
Parent Specific Colors
--------------------------------------------------
*/

.real-estate-color{
	color: #f69d00 !important;	
}
.property-management-color{
	color: #139646;	
}
.mortgage-color, .mortgages-color{
	color: #137abc;	
}
.insurance-color{
	color: #9455a3;	
}
.wider-network-color{
	color: #3b3b3b;	
}

.real-estate-color-links a{
	color: #f69d00;	
}
.property-management-color-links a{
	color: #139646;	
}
.mortgage-color-links a{
	color: #137abc;		
}
.insurance-color-links a{
	color: #9455a3;	
}
.wider-network-color{
	color: #3b3b3b;	
}

/*
--------------------------------------------------
Single Page
--------------------------------------------------
*/

.page-wrapper{
	padding: 50px 0;
}

/*
--------------------------------------------------
Properties Page
--------------------------------------------------
*/

.listings{
	padding: 0;
}

.listings .filter-inputs{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
	text-align: left;
	background-color: #eee;
	padding: 60px 30px 20px;
	width: 100%;
}

.listings .filter-inputs .half{
	width: 43%;	
}	

.listings .filter-inputs a{
	text-decoration: none;	
}

.listings .filter-inputs .active {
	text-decoration: none;	
	font-weight: 600;	
}	

.listings .filter-inputs span {
	margin-right: 40px;
	margin-left: 15px;	
}	

.listings .filter-inputs input[type="text"]{
	box-shadow: none;
	border-top: none;
	border-right: none;
	border-left: none;
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 0 9px;
	padding: 8px 10px;
}

.listings .filter-inputs label{
	float: none;
}

.listings .filter-inputs input[type="submit"]{
	font-size: 14px;
	padding: 8px 24px;
}

.listings .filter-inputs select:focus{
	outline: none;
}

.pagination-wrap {
	margin-bottom: 	60px;
}

/*
--------------------------------------------------
Single Property
--------------------------------------------------
*/

.single-property .property-hero{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 0;	
	height: 350px;	
	position: relative;	
}

.single-property .property-hero .title-wrapper{
	background: 	-webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 60px 0 30px;	
}

.single-property .property-hero .title-wrapper h1,
.single-property .property-hero .title-wrapper h3{
	color: #fff;
}

.single-property .property-hero .title-wrapper h1{
	margin-bottom: 10px;
	font-size: 40px;	
	line-height: 40px;
}

.single-property .property-hero .title-wrapper h3{
	margin: 0;	
	font-weight: 300;	
	font-size: 25px;	
}

.single-property .property-info{
	padding-bottom: 20px;	
	padding-top: 40px;	
}

.single-property .property-info .listing .info{
	padding: 30px;	
}

.single-property .property-info .listing .info a{
	font-weight: 300;
	font-size: 17px;
	text-decoration: none;	
}

.single-property .property-info .listing .info h4{
	margin: 0;
	line-height: 24px;
}

.single-property .property-info .listing .info .agent-detail img{
	padding: 7px 10px 10px 0;	
	box-sizing: content-box;
}

.single-property .property-info .listing .info small{
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;	
}

.single-property .property-info .listing .feature-wrap{
	padding-bottom: 10px;	
}

.contact-button{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	font-size: 15px;	
	line-height: 40px;
	font-family: 'sofia-pro', sans-serif;
	width: 100%;
	text-decoration: none !important;
	display: block;	
	letter-spacing: 0.02em;	
}

.single-property .property-info ul{
	list-style: disc;
}

.single-property .property-info ul li{
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: 200;
	font-family: 'Open Sans', Sans-Serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

.single-property .property-info .details{
	background: #f2f2f2;
	padding: 30px 50px;
}

.single-property .property-info .details .label{
	background: none;
	color: #6d6d6d;	
	font-family: 'sofia-pro', sans-serif;
	font-size: 15px;	
	text-align: left;
	padding: 0;	
	line-height: 28px;	
}

.single-property .property-info .details .value{
	font-size: 14px;
	font-weight: 200;
	line-height: 28px;
	font-family: 'Open Sans', Sans-Serif;
	-webkit-font-smoothing: subpixel-antialiased;
	padding: 0;	
}

.single-property .property-info a{
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	text-decoration: none;	
}

.single-property .property-info a.rounded{
	margin-top: 30px;
}

#request-form-modal input.wpcf7-form-control.wpcf7-submit{
	background: #69c426;
}

#agent-form-modal input.wpcf7-form-control.wpcf7-submit{
	background: #69c426;
}

.single-property .map{
	padding-top: 0;	
}

.single-property .map .map-embed {
	width: 100%;
	height: 0;
	margin: 0 auto;
	padding-top: 50%;
	position: relative;
}

.single-property .map .map-embed iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; 
	right: 0;
	left: 0; 
	bottom: 0;
}

.single-property .request-report-link{
	margin-top: 20px;	
	display: block;	
	font-size: 16px;	
}

/*
--------------------------------------------------
Agents Page
--------------------------------------------------
*/

.listing .info .agent-info{
	border-top: 1px solid #ddd;
	padding: 10px 0;	
}

.listing .info .agent-info p{
	margin-bottom: 0;	
}

.listing .info .agent-info a{
	font-size: 15px;	
}

.video-link{
	position: absolute;
	bottom: -1px;	
	text-align: right;
	width: 100%;
	padding: 5px 15px 5px;
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
	left: 0;
}

.video-link p{
	margin-bottom: 0;
	color: #fff;	
}

.listing .info .agent-info .agent-email {
	font-size: 13px;
}

.video-link img {
	display: inline-block !important;
}

/*
--------------------------------------------------
Agent Single
--------------------------------------------------
*/

.agent-hero{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 0;	
	height: 350px;	
	position: relative;	
	margin-bottom: -200px;	
}

.agent-hero .title-wrapper{
	background: 	-webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.agent-hero .title-wrapper .row{
	padding: 60px 0 30px 365px;	
}

.agent-hero .title-wrapper h1,
.agent-hero .title-wrapper h3{
	color: #fff;
}

.agent-hero .title-wrapper h1{
	margin-bottom: 10px;
	font-size: 40px;	
	line-height: 40px;
}

.agent-hero .title-wrapper h3{
	margin: 0;	
	font-weight: 300;	
	font-size: 25px;	
}

section.agent-profile{
	padding: 70px 0 0;
}

section.tabs{
	padding: 40px 0 0;	
}

.agent-profile h1{
	font-weight: 300;
	font-size: 40px;	
	margin-top: 20px;	
}

.agent-profile .agent-image{
	position: relative;	
}

.agent-profile .basic-details{
	padding-left: 50px;
	margin-top: 170px;	
}

.agent-profile .agent-image img.profile-image{
	width: 100%;	
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20)
}

.agent-profile .agent-detail{
	padding-bottom: 15px;
}

.agent-profile .agent-detail img{
	padding-right: 20px;	
	box-sizing: content-box;
}

.agent-profile .contact-button{
	color: #fff;
	max-width: 200px;
	margin-top: 5px;	
	margin-bottom: 16px;
	text-decoration: none;	
}

.agent-profile .agent-file a{
	font-family: 'sofia-pro', sans-serif;
	text-decoration: none;	
	color: #fff;
	background: #6CC235;
	font-weight: 500;
	padding: 10px;		
	width: 100%;
	display: block;	
	text-align: center;	
	border-radius: 200px;
}

.agent-profile .agent-file{
	background: #f5f5f5;
	margin-top: 170px;	
	padding: 30px;	
}

.single-agent .about{
	background: #eee;	
}

.listings .agent .title{
	margin-bottom: 20px;	
}

.listings .agent .title img{
	margin-bottom: 10px;	
}

.tabs-wrap .tab{
	text-transform: uppercase;
	font-weight: 500;	
	font-size: 14px;	
	letter-spacing: 1px;
	background: #f5f5f5;
	border-radius: 5px 5px 0 0;
	display: inline-block;	
	padding: 10px 20px;	
	margin-right: -2px;	
	cursor: pointer;
}

.tabs-wrap .tab.person-active,
.tabs-wrap .tab.listing-active{
	background: #eee;	
}

.content-wrap .content{
	background: #f5f5f5;	
	display: none;	
	padding: 50px;	
	height: 900px;
	overflow: scroll;
}

.listing-tabs .content-wrap .content{
	padding: 20px;	
}

.content-wrap .content.person-active,
.content-wrap .content.listing-active{
	background: #eee;	
	display: block;	
}

.horizontal-property-listing{
	border-bottom: 1px solid #ddd;
	overflow: auto;	
	padding-bottom: 15px;
	margin-bottom: 15px;	
}

.horizontal-property-listing .image{
	width: 30%;
	height: 0;
	padding-bottom: 25%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	float: left;
}

.horizontal-property-listing .image .price-overlay{
	font-size: 14px;	
	padding: 0 5px;	
}

.horizontal-property-listing .info{
	width: 70%;
	float: left;
	padding-left: 20px;	
}

.horizontal-property-listing .info .title-wrap{
	width: 50%;
	float: left;	
}

.horizontal-property-listing .info .title-wrap p{
	margin-bottom: 0;
	line-height: 22px;	
}

.horizontal-property-listing .info .feature-wrap{
	width: 50%;	
	float: left;
	padding-top: 2px;
	padding-left: 5px;		
}

.horizontal-property-listing .info h4{
	margin: 0;	
	font-family: 'sofia-pro', sans-serif;
}

.horizontal-property-listing .info .feature{
	float: left;
	margin-right: 0;
	margin-left: 5px;	
}

.horizontal-property-listing .info .feature img{
	width: 30px;	
	margin-top: 0px;	
}

.horizontal-property-listing .info .feature .number{
	font-size: 12px;
	padding: 3px 7px 3px 14px;
	margin-left: -14px;	
}


/*
--------------------------------------------------
Contact Form 
--------------------------------------------------
*/

.wpcf7 input[type="text"], .wpcf7 input[type="email"],.wpcf7 input[type="tel"], .wpcf7 input[type="number"], .wpcf7 input[type="date"], .wpcf7 select, .wpcf7 textarea {
	border: 1px solid #bbbbbb;
	box-shadow: none;
	color: black;
	font-size: 	14px;
	padding: 12px 15px;
	letter-spacing: 0.05em;
	height: auto;	
	margin: 0;	
}

.wpcf7 p{
	margin-bottom: 12px;
	overflow: auto;	
	float: none;
	width: 100%;
	clear: both;
}

.wpcf7 p.select-label{
	width: 40%;	
	float: left;
	line-height: normal;
	padding-top: 9px;	
	font-family: 'sofia-pro', sans-serif;
	font-size: 18px;	
}

.wpcf7 .name{
	clear: both;	
}

.wpcf7 p.select{
	width: 60%;	
	float: left;
	margin-bottom: 15px;	
	clear: none;	
}

.wpcf7 input[type="submit"]{
	border: 0;
	padding: 10px 40px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.wpcf7 textarea{
	height: 130px;
}

.wpcf7 ::-webkit-input-placeholder { color: #aaa; }
.wpcf7 :-moz-placeholder { color: #aaa; }
.wpcf7 ::-moz-placeholder { color: #aaa; } 
.wpcf7 :-ms-input-placeholder { color: #aaa; }

/*
--------------------------------------------------
Single Page
--------------------------------------------------
*/

.content ul li{
	list-style: disc;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;	
	-webkit-font-smoothing: subpixel-antialiased;
}

.content a{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.content h3{
	font-size: 20px;	
}

.content h4{
	font-size: 17px;	
}

.generic-gradient{	
	height: 4px;
	background: #6d6d6d;
	background: -moz-linear-gradient(left,  #f69d00 0%, #139646 33%, #207cca 66%, #9455a3 100%);
	background: -webkit-linear-gradient(left,  #f69d00 0%,#139646 33%,#207cca 66%,#9455a3 100%);
	background: linear-gradient(to right,  #f69d00 0%,#139646 33%,#207cca 66%,#9455a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f69d00', endColorstr='#9455a3',GradientType=1 );
}

.parent-wider-network .generic-gradient,
.parent-about .generic-gradient,
.parent-contact .generic-gradient{
	display: block;	
}

/*
--------------------------------------------------
Gallery/Lightbox
--------------------------------------------------
*/

.image-slider.single-item{
	margin-top: 30px;
	background: #444;
}

.slick-slider{
	max-height: 300px;	
}

.slick-track{
	max-height: 300px;	
}

.image-slider.single-item img{
	width: 100%;
	max-height: 300px;
	width: auto;
	margin:0 auto;	
}

.slick-initialized .slick-slide{
	display: table !important;
	width: 100%;
	height: 100%;		
}

.image-slider button.slick-arrow{
	margin-bottom: 0 !important;
	margin-top: 0;		
}

.image-slider .slick-prev{
	left: 20px;	
	z-index: 2;	
}

.image-slider .slick-next{
	right: 20px;	
	z-index: 2;		
}

.image-slider .videoWrapper{
	padding: 0;	
	height: 100%;	
}

.image-slider a.fancybox-media{
	width: 100%;
	height: 100%;	
	position: absolute;	
	z-index: 7;
	top: 0;	
	left: 0;	
}

.fancybox-nav{
	top: 40% !important;
	width: 20% !important;
	height: 20% !important;
}

.fancybox-nav span{
	visibility: visible !important;
}

.fancybox-skin{
	padding: 0 !important;
}

.slick-slide .feature img{
	display: inline-block;	
}

.fancybox-type-iframe .fancybox-inner{
	height: 450px !important;
}

/*
--------------------------------------------------
Contact
--------------------------------------------------
*/

.contact .logos img{
	margin-bottom: 20px;	
}

.contact .contact-label,
.contact .contact-value{
	font-size: 18px;
	line-height: 35px;	
}

.contact .contact-label{
	width: 20%;
}

a.contact-fixed{
	position: fixed;
	bottom: 0;
	border-radius: 3px 3px 0 0;
	right: 15px;	
	padding: 10px 30px;
	cursor: pointer;
	background: #69c426;
	color: #fff;
	font-family: 'sofia-pro';
	font-size: 20px;
	font-weight: 500;
	z-index: 10;
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.18);
	text-decoration: none;	
}

a.contact-fixed:hover{
	padding: 10px 30px 12px;	
}

#contact-form-modal, #request-form-modal, #agent-form-modal{
	display: none;	
	padding: 20px;
}

.fancybox-overlay{
	z-index: 500;	
}

.divider {
	border-bottom: 1px solid #D2D2D2;
    height: 1px;
    margin-bottom: 30px;
}

/*
--------------------------------------------------
Landing Page
--------------------------------------------------
*/

.landing-page .hero{
	padding: 0;	
	overflow: hidden;	
}

.landing-page .hero img{
	margin-bottom: 20px;	
}

.landing-page .hero-text-wrap{
	padding-top: 100px;	
}

.table{
	display: table;	
	height: auto;	
}

.hero-text-wrap{
	display: table-cell;	
	height: 100%;
	float: none !important;
}

.form{
	display: table-cell;	
	height: 100%;
	float: none !important;
}

.form-wrap{	
	bottom: 0;	
	padding-top: 100px;	
	overflow: visible;
	display: table-cell;	
	float: none;
	height: 100%;	
}

.form-wrap .form-center{
	padding: 20px 30px;
	border-radius: 5px 5px 0 0;
	height: 100%;
	position: relative;
}

.form-wrap h3{
	font-size: 24px;
	line-height: 26px;
	margin: 0 80px 20px 0;
	text-align: left;		
}

.form-wrap .form-center .landing-form-logo{
	position: absolute;
	top: 30px;
	right: 35px;
	padding: 0px;
	width: 55px;
}

.phone-tag-wrap{	
	width: 100%;
	max-width: 380px;
}

.phone-tag-wrap .phone-tag{
	background: #69c426;	
	padding: 10px 50px 10px 20px;	
	border-radius: 5px;
	margin-top: 30px;
	text-align: center;
	color: #fff;			
}

.phone-tag p{
	margin: 0;
	font-family: 'sofia-pro', sans-serif;
	font-size: 17px;	
}

.phone-tag h4{
	color: #fff;
	font-weight: bold;	
	margin: 0;
}

.phone-tag-wrap a{
	clear: both;
	display: block;	
	text-align: center;	
	padding: 10px;	
	color: #69c426;	
	font-weight: 500;
	text-decoration: underline;
}

section.services{
	padding: 50px 0;
	background: #fafafa;	
}

section.services h3{
	margin-bottom: 40px;	
}

section.services h2{
	margin-top: 30px;
}

.landing-page .form-wrap input,
.landing-page .form-wrap textarea{
	border: none;
	border-radius: 5px;
	font-family: 'sofia-pro', sans-serif;
	text-transform: none;
	font-size: 16px;	
}

.landing-page .form-wrap input[type="submit"]{
	background: #fff;
	border-radius: 100px;
	color: #000;
	font-weight: 500;
	letter-spacing: 0;
	font-size: 18px;
	margin-top: 10px;	
}

.landing-page .form-wrap input[type="submit"]:hover{
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);	
	opacity: 0.98;	
}

.landing-page .wpcf7 p{
	overflow: visible;	
}

.landing-page section.intro{
	background: #fafafa;
}

.landing-page section.intro h3{
	display: inline-block;
	margin-bottom: 30px;	
}

.landing-page section.intro img{
	display: inline-block;
	margin-top: -12px;	
	margin-right: 20px;	
}

.landing-page section.intro p,
.landing-page section.about p{
	margin-bottom: 0;	
}

.landing-page section.technology p,
.landing-page section.savings p{
	margin-top: 30px;	
}

table.commission-table{
	border: 0;
	width: 100%;
	display:table;
}

table.commission-table tr{
	background: transparent;
	display: table-row;
}

table.commission-table tr th{
	font-size: 13px;
	color: #aaa;
	font-weight: 300;
}

table.commission-table tr td{
	font-size: 18px;
	color: #555;
	font-weight: 400;
}

table.commission-table tr td:first-child{
	color: #000;
	width: 150px;
}

table.commission-table tr td:last-child{
	color: #f69d00;
	font-weight: 400;
}

section.home-image-section p.commission-byline{
	font-size: 12px;
	font-style: italic;
	color: #bbb;
	margin: 0;
	margin-bottom: 20px;
}

section.home-image-section a.button{
	margin-bottom: 20px;
}

.home-footer-buttons{
	text-align: center;
	padding: 30px 5px 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 10px;
}

.home-footer-buttons h2{
	margin-top: 12px;
	color: #fff;
	font-size: 12px;
	height: 48px;
}

#tandc-form-modal{
	max-width: 600px;
	padding: 20px;
	text-align: left!important;
}

/* Landing page agent styles */

.landing-page .agent {
	margin-top: 20px;	
}

.landing-page .agent-card {
	padding: 20px;
}

.landing-page .image {
	text-align: center;	
	margin-bottom: 25px;	
}

.landing-page .agent img {
	margin: 0 auto !important;	
}

.landing-page a.soft {
	color: #6d6d6d;
	text-decoration: none;
}

.landing-page .agent-title {
	font-size:34px;
	text-align: center;		
}

.landing-page .job-title {
	font-size: 	16px;
	font-weight: 100;	
}

.landing-page .agent-info {
	text-align: center;	
}

.landing-page .agent-details {
	margin: 8px 0 18px;
}

.landing-page .agent-details a {
	font-weight: 100;	
}

.landing-page .agent-description {
	text-align: center;	
	font-weight: 100;	
	padding: 0 20px;
}

.landing-page .phone-prefix {
	font-size: 18px;
	font-weight: 500;	
}

.landing-page .areinz {
	font-size: 22px;	
}

#downloadForm .wpcf7-submit {
	width:100%;
	background-color: #69c426;
	margin-top: 25px;
}

.download-landing-page .button {
	background-color:#69c426;
	text-decoration: none;	
	padding-top: 10px;
	padding-bottom: 12px;
}

.download-image {
	border: 2px solid #999;
}

#instafeed{
	margin-top: 50px;	
}

#instafeed img{
	margin-bottom: 30px;	
}

#instafeed .caption-wrap{
	height: 130px;	
	display: none;	
}

/*
--------------------------------------------------
Single Article
--------------------------------------------------
*/

.article-hero{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 150px 0;	
}

.latest-posts.archive .articles h3{
	padding-top: 0;
	margin-bottom: 5px;	
}

.latest-posts.archive .articles .meta p{
	margin-bottom: 0;	
	color: #aaa;	
}

.latest-posts.archive .articles p{
	margin-bottom: 5px;	
}

.latest-posts.archive .articles a{
	font-family: 'sofia-pro', sans-serif;
	font-size: 14px;	
	text-decoration: underline;	
	font-weight: 500;	
	margin-bottom: 15px;
	display: inline-block;		
}

.latest-posts.archive .articles img{
	margin-bottom: 15px;
	margin-top: 15px;		
}

/*
--------------------------------------------------
Commission Calculator
--------------------------------------------------
*/

.calculator-popup{
	padding: 30px;
	display: none;
	width: 100%;			
	max-width: 600px;
}

.calculator-popup h3{
	margin: 20px 0 30px;
	color: #333;		
}

.calculator-popup label{
	font-family: 'Open Sans', sans-serif;
	color: #b1b1b1;	
	font-size: 13px;	
}

.calculator-popup input{
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #ff931e;
	font-size: 40px;	
	text-align: center;	
	color: #6d6d6d;
	position: relative;		
	background: none;	
	margin-bottom: 30px;	
}

.calculator-popup input:focus{
	background: none;	
	border-bottom: 1px solid #ff931e;
}

.calculator-popup .input-wrap{
	position: relative;	
	width: 100%;	
	display: block;
}

.calculator-popup .input-wrap:before{
	content: '$';
	position: absolute;
	display: block;	
	left: 0;	
	top: 8px;	
	z-index: 5;	
	font-size: 40px;
	color: #aaa;		
}

.calculator-popup .results .value{
	font-weight: 500;	
	font-size: 30px;
	color: #666;		
}

.calculator-popup .button{
	margin-top: 20px;	
}

.calculator-popup .small-text p{
	color: #aaa;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 20px;
	padding: 0 20px;
}

.home-icon.services {
	float: none;
}

.landing-page ul {
	list-style-type: circle;
	list-style: circle;
}

.section-hero.error-page h2{
	padding-top: 20px;
}

.agent-location-filter {
	font-size: 16px !important;
	line-height: 30px;
}

.commission-byline{
	position: relative;
}

.commission-byline .tool-tip{
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	border-bottom: 1px dotted #000;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}
.commission-byline .tool-tip-float{
	position: absolute;
	bottom: 150%;
	background: rgba(255, 255, 255, 0.96);
	padding: 20px 20px 10px;
	border-radius: 10px;
	box-shadow: 0px 6px 19px rgba(0, 0, 0, 0.13);
	z-index: 99;
	display: none;
}

.commission-byline:hover .tool-tip-float{
	display: block;
}

.commission-byline .tool-tip-float:after{
	width: 20px;
	height: 20px;
	content: '';
	background: rgba(255, 255, 255, 0.96);
	position: absolute;
	bottom: -10px;
	left: 20px;
	z-index: 99;
	-webkit-transform: 	rotate(45deg);
	-moz-transform: 	rotate(45deg);
	-o-transform: 		rotate(45deg);
	-ms-transform: 		rotate(45deg);
	transform: 			rotate(45deg);
}

.commission-byline .tool-tip-float p{
	font-size: 12px !important;
	line-height: 17px;
	font-style: italic;
	color: #aaa;
	margin-bottom: 10px;
	margin-top: 0 !important;
}