/*
--------------------------------------------------
Fonts
--------------------------------------------------
*/

@font-face {
    font-family: 'turnpikeregular';
    src: url('turnpike/turnpike-webfont.eot');
    src: url('turnpike/turnpike-webfont.eot?#iefix') format('embedded-opentype'),
         url('turnpike/turnpike-webfont.woff') format('woff'),
         url('turnpike/turnpike-webfont.ttf') format('truetype'),
         url('turnpike/turnpike-webfont.svg#turnpikeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}